<style>
html {
  height: 100%;
}
body {
    position:absolute;
    top:0; 
    bottom:0; 
    right:0; 
    left:0; 
}
#main {
    height: 100%;
    width: 100%;
}
#public {
    background-color: white;
    height: 60%;
    width: 100%;
}
#action {
    height: 50%;
    width: 100%;
}
#otherCards {
    height: 50%;
    width: 100%;
}
#treasure {
    height: 100%;
    width: 29.9%;
    float: left;
}
#victory {
    height: 100%;
    width: 30%;
    float: left;
}
#trash {
    height: 100%;
    width: 40%;
    float: left;
}
#playInfo {
    box-sizing: border-box;
    height: 7%;
    width: 100%;
}
#selfPlay {
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    width: 50%;
    float: left;
}
#othersPlay {
    background-color: white;
    height: 100%;
    float: right;
    width: 50%;
}
#player {
    box-sizing: border-box;
    background-color: white;
    height: 30%;
    width: 100%;
}
#self {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    float: left;
}
#playArea {
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    float: left;
    overflow: auto;
    font-size: 50%;
}
#others {
    height: 100%;
    width: 20%;
    float: right;
    overflow: hidden;
}
#footer {
    background-color: white;
    text-align: center;
    font-size: 200%;
    height: 3%;
}
</style>